## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [3]:
for w in words:
    print(w)

play
filling
bar
theatre
easygoing
date
lead
that
story
island

**Create a new list containing only words with 5 or more letters**

In [4]:
big_words = []
for w in words:
    if len(w) >= 5:
        big_words.append(w)

In [5]:
big_words

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [6]:
for w in words:
    if w[0] == "t":
        print(w)
        break

theatre

Importante el `break` para no seguir recorriendo palabras

También vale `if w.startswith("t"):`, a mí personalmente me gusta más la otra

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [11]:
sqs = []
for n in range(1, 11):
    sqs.append(n ** 2)

In [12]:
sqs

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [13]:
sqss = []
for n in range(1, 11):
    # check if odd
    if n % 2 == 1:
        sqss.append(n ** 2)

In [14]:
sqss

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [15]:
sqsss = []
for n in range(1000):
    if n % 8 == 0:
        sqsss.append(n ** 2)

## People

In [17]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "n_kids": 2,
        "age": 22
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [18]:
len(people)

5

**How many people have kids**?

In [19]:
count = 0
for p in people:
    if p["n_kids"] > 0:
        count += 1

In [20]:
count

4

**How many kids do they have in total?**

In [21]:
kids_total = 0
for p in people:
    kids_total += p["n_kids"]

In [22]:
kids_total

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

My fault, the question should have been:

**In a year's time, names ending with "a" will have an extra kid. Create a *list* with people's info in a year's time**

In [23]:
new_list = []
for p in people:
    if p["name"][-1] == "a":
        p["n_kids"] += 1
    p["age"] += 1
    
    new_list.append(p)

In [24]:
new_list

[{'name': 'Juan', 'age': 35, 'n_kids': 2},
 {'name': 'Pepe', 'age': 28, 'n_kids': 0},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Lucía', 'n_kids': 3, 'age': 23},
 {'name': 'Leo', 'age': 56, 'n_kids': 5}]